<!-- start Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
                <p>You can see that footer content</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident
                    voluptate esse quasi, veritatis totam voluptas nostrum.</p>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                <h5 class="font-weight-bold text-uppercase mb-4">About</h5>
                <ul class="list-unstyled about-list">
                    <li>
                        <p>
                            <a routerLink="/index">HOME</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a routerLink="/about-us">ABOUT US</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a routerLink="#">BLOG</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a routerLink="#">AWARDS</a>
                        </p>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fa fa-home mr-3"></i> KOLKATA, 710012, INDIA
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-envelope mr-3"></i> info@example.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fa fa-phone mr-3"></i> + 91 9456125315
                        </p>
                    </li>
                </ul>
            </div>
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-2 col-lg-2  follow-us-icon text-center mx-auto my-4">
                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
                <!-- Facebook -->
                <a type="button">
                    <i class="fa fa-facebook m-2"></i>
                </a>
                <!-- Twitter -->
                <a type="button">
                    <i class="fa fa-twitter m-2"></i>
                </a>
                <!-- Google +-->
                <a type="button">
                    <i class="fa fa-google-plus m-2"></i>
                </a>
                <a type="button">
                    <i class="fa fa-envelope-o m-2"></i>
                </a>
                <br>
                <br>
                <input type="email" class="input-email" placeholder="Type Your Email Id">
                <button class="subscribe-button"> <a>SUBSCRIBE NOW</a></button>
            
            </div>
        </div>
    </div>
    <!-- copy right Footer  -->
    <footer class="my-5 bg-primary mb-0 ">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 ">
                    <p class=" text-center text-light mt-3 ">&copy;Copyrights | All Right Reserved | 2021</p>
                </div>
            </div>
        </div>
    </footer>
</footer>
<!--end  Footer -->


