.margin-top{
    margin-top:1px;
}

/* hr center */

    /* ........................................about section css file........................... */
.body-about{
   background-color:#ffff;
   font-family: 'Lato', sans-serif;
}
.body-about h2{
   font-family: 'Lato', sans-serif;
   font-weight: bold;
   text-align:center;
   margin-top: 120px;

}
.body-about h4{
   font-family: 'Lato', sans-serif;
   text-align:justify;
   margin-top: 20px;
  
}

/* ............................OUR TEAM INFO................................ */
.team-section{
    width:100%;

}
.team-section .container{
   width:80%;
   margin:auto;
}
.team-section .container .row{
   width:100%;
   margin:auto;
}
.team-card{
   margin-bottom: 50px;
}
.team-section .container .row .title{
   text-align:center;
   margin-top:50px;
}
.team-section .container .row .title h1{
  font-size:35px;
  text-transform:uppercase;
  letter-spacing:1.5px;
  color:red;
}
.team-section .container .row .title p{
   font-size:18px;
   font-family:sans-serif;
   margin:30px 0px;
   color:#666;
}
.team-section .container .team-card{
    width:100%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap:40px;
    margin-top:50px;
}
.team-section .container .team-card .card{
    width:100%;
    background-color: #fafafa;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    padding:1px;
    cursor:pointer;

}
.team-section .container .team-card .card:hover{
    background-color: #f3f3f3;
    transition:0.3s;
}
.team-section .container .team-card .card .imagr-section img{
   height:150px;
   width:150px;
   border-radius:50%;
   border:6px solid #fff;
}
.team-section .container .team-card .card .content{
    width:100%;
    text-align:center;
}
.team-section .container .team-card .card .content h4{
  font-size:27px;
  margin-top:10px;
  letter-spacing: 1.5px;
  color:rgb(26, 115, 199);
}
.team-section .container .team-card .card .content h5{
   font-size:17px;
   margin-top:10px;
   letter-spacing: 1.5px;
   color:#000;
}
.team-section .container .team-card .card .content h4{
   font-size:15px;
   margin:16px 0px;
   line-height:1.5;
   color:#000;
}
.team-member{
   border-radius: 5px;
}
@media screen and (max-width:900px){
   .team-section .container .team-card{
       grid-template-columns:repeat(1,1fr)
   }
}

@media screen and (max-width:768px){
   .team-section .container .team-card{
       grid-template-columns:repeat(1fr)
   }
}
