<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h2>About Us</h2>
        </div>
        <div class="col-md-12 mt-3 text-left">
            <h4>
                <h3>Inditex – online grocery store</h3>
            <p>Did you ever imagine that the freshest of fruits and vegetables, 
                top quality pulses and food grains, dairy products and hundreds of 
                branded items could be handpicked and delivered to your home, all at the click of a button? India’s first comprehensive 
                online megastore, inditex.com, brings a whopping 20000+ products with more than 1000 brands, to over 4 million happy customers. 
                From household cleaning products to beauty and makeup, inditex has everything you need for your daily needs. inditex.com is 
                convenience personified We’ve taken away all the stress associated with shopping for daily essentials, and you can now order all 
                your household products and even buy groceries online without travelling long distances or standing in serpentine queues. Add to 
                this the convenience of finding all your requirements at one single source, along with great savings, and you will realize that 
                inditex- India’s largest online supermarket, has revolutionized the way India shops for groceries. Online grocery shopping has 
                never been easier. Need things fresh? Whether it’s fruits and vegetables or dairy and meat, we have this covered as well! Get fresh 
                eggs, meat, fish and more online at your convenience. Hassle-free Home Delivery options</p>

                <h3>India’s biggest Online Supermarket</h3>
                inditex.com believes in providing the highest level of customer service and is continuously innovating to meet customer 
                expectations. Our On-time Guarantee is one such assurance where we refund 10% of the bill value if the delivery is delayed. 
                For all your order values above Rs. 1000, we provide free delivery. A wide range 
                of imported and gourmet products are available through our express delivery and slotted delivery service. If you ever find 
                an item missing on delivery or want to return a product, you can report it to us within 48 hours for a ‘no-questions-asked’ 
                refund. Best quality products for our quality-conscious customers.inditex.com is synonymous with superior quality and 
                continues to strive for higher levels of customer trust and confidence, by taking feedback and giving our customers what they 
                want. We have added the convenience of pre-cut fruits in our Fresho range. If it’s a product category you’re looking to shop 
                from, we’ve made it convenient for you to access all products in a section easily. For instance, if you’re looking for beverages, 
                you can order from a long list of beverages that include cool drinks, hot teas, fruit juices and more. We are proud to be 
                associated closely with the farmers from whom we source our fresh products. Most of our farm-fresh products are sourced 
                directly from farmers, which not only ensures the best prices and freshest products for our customers but also helps the 
                farmers get better prices. With 
                more than 80 Organic Fruits and Vegetables and a wide range of organic staples, inditex has the largest range in the 
                organic products category. When it comes to payment, we have made it easy for our customers can pay through multiple payment 
                channels like Credit and Debit cards, Internet Banking, e-wallets and Sodexo passes or simply pay Cash on Delivery (COD).T
                he convenience of shopping for home and daily needs, while not compromising on quality, has made inditex.com the online 
                supermarket of choice for thousands of happy customers across India.
            </h4>
        </div>
    </div>
</div>
<br>
<br>
<hr class="hr-center">
<div class="team-section">
    <div class="container mt-5">
        <div class="row">
            <div class="title">
                <h1>Our Team Member</h1>
                <p>We All Are Brainware University's Student</p>
            </div>
        </div>
        <div class="team-card">
            <div class="card">
                <div class="imagr-section">
                    <img src="/assets/image/Team member/Sipra.jpeg" alt="">
                </div>
                <div class="content">
                    <h4>Shipra Chakraborty</h4>
                    
                    <P>Brainware University</P>
                    <p>3rd Semester</p>
                </div>
            </div>
            <div class="card">
                <div class="imagr-section">
                    <img src="/assets/image/Team member/Sabyasachi.jpeg" alt="">
                </div>
                <div class="content">
                    <h4>Sabyasachi Sanki</h4>
                    <P>Brainware University</P>
                    <p>3rd Semester</p>
                </div>
            </div>
            <div class="card">
                <div class="imagr-section">
                    <img src="/assets/image/Team member/Anchal.jpeg" alt="">
                </div>
                <div class="content">
                    <h4>Anchal Kumari</h4>
                     <P>Brainware University</P>
                    <p>3rd Semester</p>
                   
                </div>
            </div>
            <div class="card">
                <div class="imagr-section">
                    <img src="/assets/image/Team member/Debdulal.jpeg" alt="">
                </div>
                <div class="content">
                    <h4>Debdulal Sau</h4>
                   
                     <P>Brainware University</P>
                    <p>3rd Semester</p>
                </div>
            </div>
        </div>
    </div>
</div>