/* ......................products details/buy page................. */
:root{
    --text-clr: #4f4f4f;

}
body{
    font-family: 'varta', sans-serif;
}
p{
    color:#6c757d;
}
a{
    text-decoration: none;
    color: var(--text-clr);
}
a:hover{
    text-decoration: none;
    color: var(--text-clr);
}
h2{
    color: var(--text-clr);
    font-size: 1.5rem;
}
.margin-button{
    margin-bottom: 200px;
    margin-top: 100px;
}
/* read more */
.read-more{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    color:#fff;
}
.read-more:hover{
color:red;
}
/* back to product css */
.back-to-product{
    border-radius: 6px;
    color: #fff;
    background-color: #0d6efd;
}
.back-to-product h6{
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
}
.main_cart{
    background-color: #fff;
}
.card{
    border:none;
}
.product_img{
    min-width: 200px;
    max-height: 200px;
}
.product_name{
    color: black;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.item-card-title p{
    font-size: 0.9rem;
    font-weight: 500;
}

.remove_and_wish p{
     font-size: 0.8rem;
     margin-bottom: 0;

}
.price-money h3{
    font-size: 1rem;
    font-weight: 600;
}

.set_quantity{
    position: relative;
}
.set_quantity::after{
    content:"(Note, 1 piece)";
    width:auto;
    height: auto;
    text-align:center;
    position: absolute;
     bottom: -20px;
     right: 1rem;
     font-size: 0.8rem;
}


.page-link{
    line-height: 16px;
    width: 45px;
    font-size: 1 rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #495057
}
.page-item input{
    line-height: 22px;
    padding: 3px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page-link :hover{
    text-decoration: none;
    color: #495057;
    outline: none !important;
}
.page-link:focus{
    box-shadow: none;

}
.price_individual p{
    font-size: 1.1rem;

}
.fa-heart:hover{
    color: red;
}