<div class="container">
    <div class="row">
        <div class="col-md-12 landing-page">
            <h1 class="app-landing-page">App Landing Page</h1>
            <p>Our android app download here, plese choose app for your respective device.</p>
            <button class="Google-play-store"><i class="fa fa-google-plus"></i>Google Play Store</button>
            <button class="Apple-play-store"><i class="fa fa-apple"></i>App Store</button>
        </div>
        <hr>
        <div class="col-md-12 app-features">
            <h3>App features</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi facilis cumque quam voluptatum. Officiis
                saepe cum, adipisci veritatis, mollitia non eaque illum nemo aspernatur iure ipsum libero dicta officia
                repudiandae.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi facilis cumque quam
                voluptatum. Officiis saepe cum, adipisci veritatis, mollitia non eaque illum nemo aspernatur iure ipsum
                libero dicta officia repudiandae.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi facilis
                cumque quam voluptatum. Officiis saepe cum, adipisci veritatis, mollitia non eaque illum nemo aspernatur
                iure ipsum libero dicta officia repudiandae.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Quasi facilis cumque quam voluptatum. Officiis saepe cum, adipisci veritatis, mollitia non eaque illum
                nemo aspernatur iure ipsum libero dicta officia repudiandae. </p>
        </div>
    </div>
</div>