<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 contact-section body-contact">
                <div class="col-md-6 contact-info">
                    <div><a><i class="fa fa-map-marker"></i>Address,City,Country</a></div>
                    <div><a><i class="fa fa fa-envelope"></i>my-Shop@gmail.com</a></div>
                    <div><a><i class="fa fa-phone"></i>+91 9999999999</a></div>
                    <div><a><i class="fa fa-clock-o"></i>Mon-Friday,10:00 AM TO 4:00 PM</a></div>
                </div>
                <div class="col-md-6 contact-form">
                    <h2>Contact Us</h2>
                    <form class="contact" action="">
                        <input type="text" name="name" class="text-box" placeholder="Your Name" required>
                        <input type="email" name="email" class="text-box" placeholder="Your Email" required>
                        <textarea name="massage" id="massage" cols="30" rows="10" placeholder="Massage"
                            required></textarea>
                        <button name="submit" class="send-btn" routerLink="#">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>