<h1 *ngIf="homePagedata.length == 0">No item in cart</h1>
<div class="container cart-page">
    <div class="row">
        <div class="col-md-8">
            <ng-container *ngIf="homePagedata.length > 0">
                <table class="table table-hover text-center table-striped">
                    <thead class="bg-secondary text-white">
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Weight</th>
                            <!-- <th>Total</th> -->
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let data of homePagedata">
                            <td>{{data.id}}</td>
                            <td><img src="{{data.pImage}}" alt="" class="src" width="30" height="30"></td>
                            <td>{{data.pName}}</td>
                            <td> {{data.pPrice}} </td>
                            <td>{{data.pWeight}}</td>
                            <td><i class="fa fa-remove"></i></td>
                        </tr>
                        
                    </tbody>
                </table>
                <!-- <div *ngFor="let data of homePagedata">
            id: {{data.id}}
            <img src="{{data.pImage}}" alt="" class="src">
    </div> -->
            </ng-container>
        </div>
    </div>
</div>
<!-- <section class="mt-3">
    <ng-container *ngIf="homePagedata.length > 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover text-center table-striped">
                    <thead class=" bg-secondary text-white">
                        <tr>
                            <th>pId</th>
                            <th>pName</th>
                            <th>pImage</th>
                            <th>pPrice</th>
                            <th>pQty</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of homePagedata">
                            <td>{{data.id}}</td>
                            <td>{{data.pName}}</td>
                            <td>
                                <img [src]="data.pImage" alt="" width="50" height="50">
                            </td>
                            <td>{{data.pPrice}}</td>

                            <td>
                                <i (click)="dcrpQty(product.pId)"class="fa fa-minus-square"></i>
                                {{data.pQty}}
                                <i (click)="incrpQty(product.pId)" class="fa fa-plus-square"></i>
                            </td>
                            <td>{{data.pQty * data.pPrice}}</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td>Grand Total</td>
                            <td>{{calcGrandTotal()}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

</section> -->
<!-- <section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-hover text-center table-striped">
                    <thead class=" bg-secondary text-white">
                        <tr>
                            <th>pId</th>
                            <th>pName</th>
                            <th>pImage</th>
                            <th>pPrice</th>
                            <th>pQty</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.pId}}</td>
                            <td>{{product.pName}}</td>
                            <td>
                                <img [src]="product.pImage" alt="" width="50" height="50">
                            </td>
                            <td>{{product.pPrice}}</td>

                            <td>
                                <i (click)="dcrpQty(product.pId)"class="fa fa-minus-square"></i>
                                {{product.pQty}}
                                <i (click)="incrpQty(product.pId)" class="fa fa-plus-square"></i>
                            </td>
                            <td>{{product.pQty * product.pPrice}}</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td>Grand Total</td>
                            <td>{{calcGrandTotal()}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section> -->