<section class="forget-form">
    <div class="container forget-pass-page">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-5">
                <form class="form-container">
                    <div class="col-mb-3">
                        <h5 class="login-heading"><strong> Recovery Your Password </strong></h5>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">
                            <h6>Email address<span class="text-danger">*</span></h6>
                        </label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Sent reset password link in your email</label>
                    </div>
                    <button type="submit" class="btn btn-primary" routerLink="#"><a>Sent</a></button>
                </form>
            </div>
        </div>
    </div>
</section>