<div class="container ">
    <div class="row ">
        <div class="col-lg-10 col-xl-9 mx-auto ">
            <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden ">
                <div class="card-img-left d-none d-md-flex ">
                    <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body p-4 p-sm-5 ">
                    <h5 class="card-title text-center mb-5 fw-primary fs-5 text-danger">Register</h5>
                    <form [formGroup]="reactiveForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInputUsername"
                                placeholder="myusername" formControlName="userName" required>
                            <label for="floatingInputUsername ">Username</label>
                            <div *ngIf="reactiveForm.controls['userName'].invalid && (reactiveForm.controls['userName'].dirty || reactiveForm.controls['userName'].touched)" class="alert">
                                <!-- <div *ngIf="reactiveForm.controls['userName'].errors.required"> -->
                                <p class="text-danger">*Please enter valid username.</p> 
                              <!-- </div> -->
                            </div>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="email" class="form-control" id="floatingInputEmail"
                                placeholder="name@example.com" formControlName="userEmailId" required>
                            <label for="floatingInputEmail">Email Id</label>
                            <div *ngIf="reactiveForm.controls['userEmailId'].invalid && (reactiveForm.controls['userEmailId'].dirty || reactiveForm.controls['userEmailId'].touched)" class="alert">
                                <p class="text-danger">*Please enter valid email id.</p> 
                            </div>
                        </div>
                        <hr>
                        <div class="form-floating mb-3 ">                           
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                formControlName="userPass" required>
                            <label for="floatingPassword">Password</label>
                            <div *ngIf="reactiveForm.controls['userPass'].invalid && (reactiveForm.controls['userPass'].dirty || reactiveForm.controls['userPass'].touched)" class="alert">
                                <p class="text-danger">*Please enter strong password.</p> 
                            </div>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="password" class="form-control" id="floatingPasswordConfirm"
                                placeholder="Confirm Password" formControlName="userPassConfirm" required>
                            <label for="floatingPasswordConfirm ">Confirm Password</label>
                            <div *ngIf="reactiveForm.controls['userPassConfirm'].invalid && (reactiveForm.controls['userPassConfirm'].dirty || reactiveForm.controls['userPassConfirm'].touched)" class="alert">
                                <p class="text-danger">*Password did not match.</p> 
                            </div>
                        </div>
                        <div class="d-grid mb-2 ">
                            <button class="btn btn-lg btn-success btn-login fw-bold text-uppercase "
                                type="submit">Register</button>
                               <!-- <div *ngIf="reactiveForm.invalid && reactiveForm.submit" class="alert" ><p class="text-danger">*All field are mandatory</p></div> -->
                        </div>
                        <a class="d-block text-center mt-2 small " routerLink="/login">Have an account? Sign In</a>
                        <hr class="my-4 ">
                        <div class="d-grid mb-2 ">
                            <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase " type="submit "
                                routerLink="#">
                                <i class="fa fa-google-plus me-2 text-danger"></i> Sign up with Google </button>
                        </div>
                        <div class="d-grid ">
                            <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase " type="submit"
                                routerLink="#">
                                <i class="fa fa-facebook-official me-2 text-primary "></i> Sign up with Facebook
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="myForm.controls['username'].invalid && (myForm.controls['username'].dirty || myForm.controls['username'].touched)" class="alert">
            <div *ngIf="myForm.controls['username'].errors.required">
            Please enter username
          </div>
        </div> -->